
html{
    height: 100%;
}


body{
    margin: 0;
    padding: 0;
    background-color: beige;
    font-family: serif;
    font-size: 16px;
    font-weight: 300px;
    color: black;
}

p{
    line-height: 20px;
}

a{
    text-decoration: none;
    color: dimgrey;
}




#menu{
    height: 40px;
    padding-top: 12px;
    background-color:palegoldenrod;
    height: 100px;
    text-align: center;
}

h2{
    margin-bottom: 13px;
    text-transform: uppercase;
    font-weight: 20px;
    font-size: 30px;
    color: darkgreen;
    text-align: center;
}

.gallery img{
    width: 250px;
    padding-left: 12px;

}

#about{
    font-size: 25px;
}

#index{
    font-size: 20px;
    
}
#contact{
    font-size: 25px;
    text-align: center;
}

#menu a{
       color: #ffffff;
       font-family: Helvetica,sans-serif;
       font-size: 30px;
       text-decoration: none;
        font-weight: 800px;
    text-align: center;
    
       padding-left: 50px;
       padding-right: 50px;
}
    
#menu a:hover{
    color:darkgreen;
}